<div class="card">
	<div class="card-header">
		<p class="card-title text-center">Figures</p>
	</div>
	<div class="card-body">		
		<a class="musisync cursor-pointer btn btn-secondary text-center margin-5 btn-figura white-text">h</a>
		<a class="musisync cursor-pointer btn btn-secondary text-center margin-5 btn-figura white-text">q</a>
		<a class="musisync cursor-pointer btn btn-secondary text-center margin-5 btn-figura white-text">j</a>
		<a class="musisync cursor-pointer btn btn-secondary text-center margin-5 btn-figura white-text">n</a>
		<a class="musisync cursor-pointer btn btn-danger text-center margin-5 btn-figura white-text">T</a>
		<a class="musisync cursor-pointer btn btn-secondary text-center margin-5 btn-figura white-text">M</a>
		<a class="musisync cursor-pointer btn btn-secondary text-center margin-5 btn-figura white-text">m</a>
		<a class="musisync cursor-pointer btn btn-secondary text-center margin-5 btn-figura white-text">y</a>
		<a class="musisync cursor-pointer btn btn-secondary text-center margin-5 btn-figura white-text">o</a>
	</div>
</div>